html{
    background-image: url("bg_img.jpg");
}

table,th,td{
	border:1px solid grey;
}

table{
	margin: 0 auto;
	/*width:95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding-top: 100%;*/
	/*margin: 0 auto;*/
	border-collapse: collapse;
}


.top{
	border-top: 2px solid white;
}
.right{
	border-right: 2px solid white;	
}
.left{
	border-left: 2px solid white;
}
.bottom{
	border-bottom: 2px solid white;
}

.lol{
    text-align: center;
    color:white;
    font-family: "Sofia", sans-serif;
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.err{
    text-align: center;
    color:white;
    font-family:  sans-serif;
}

.cell{
    width: 50px;
    height: 50px;
    /*flex: 1;*/
    /*padding-top: 100%;*/
    font-size: 40px;
    text-align: center;
    border:none;
    justify-content: center;
    background-color: transparent;
    color: white;
}

/*form{
	align-content: center;
}*/

div{
    display: block;
    text-align: center;
}

.but{
    margin-top: 10px;
    font-size: 40px;
    background-color: #d330fc;
    border-radius: 10px;
    /* color:white; */
}


input.cell::-webkit-outer-spin-button,
input.cell::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#resetBut{
	margin-left: 100px;
}


@media only screen and (max-width: 500px){
	table{
		width:95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		/*padding-top: 100%;*/
		/*margin: 0 auto;*/
		border-collapse: collapse;
	}
	.cell{
	    width: 30px;
	    height: 30px;
	    /*flex: 1;*/
	    /*padding-top: 100%;*/
	    font-size: 25px;
	    text-align: center;
	    border:none;
	    justify-content: center;
	    background-color: transparent;
	    color: white;
	}
	.but{
    	margin-top: 10px;
    	font-size: 30px;
    	background-color: #d330fc;
    	border-radius: 10px;
    	/* color:white; */
	}
	#resetBut{
		margin-left: 60px;
	}
}

@media only screen and (max-width: 320px){
	table{
		/*width:96%;
		margin-left: 2%;
		margin-right: 2%;*/
		/*padding-top: 100%;*/
		margin: 0 auto;
		border-collapse: collapse;
	}
	.cell{
	    width: 20px;
	    height: 20px;
	    /*flex: 1;*/
	    /*padding-top: 100%;*/
	    font-size: 20px;
	    text-align: center;
	    border:none;
	    justify-content: center;
	    background-color: transparent;
	    color: white;
	}
	#resetBut{
		margin-left: 40px;
	}
}